$modalHeaderHeight: 30px;
$modalBorderColor: #FF8500;
$modalCollapsedBorderColor: #CCCCCC;
$modalPostDividerColor: #F2F2F2;
$modalPostBgUnread: #DDDDDD;

$modalHeaderColor: white;
$modalHeaderBG-from: #FB9E25;
$modalHeaderBG-to: #FF8500;

$modalHeaderCollapsedColor: #333;
$modalHeaderCollapsedBG-from: #F9F9F9;
$modalHeaderCollapsedBG-to:  #E7E9EB;

@mixin rounded-borders($color: black, $border-weight: 1px, $radius: 5px) {
  border: $border-weight solid $color;
  border-radius: $radius;
  overflow: hidden;
  -webkit-background-clip: padding-box; 
     -moz-background-clip: padding; 
          background-clip: padding-box;
}

@mixin bg-gradient($from: #eee, $to: #ddd) {
  background: $to;
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from,  $to); 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}');
  // -pie-background: linear-gradient(#EEFF99, #66EE33);
  // behavior: url(../vendors/PIE.htc);
}

@mixin bg-remove {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

@mixin text-cut { 
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;  
}


#supportChatBox {
  border: none;
  display: none;
  width: 240px;
  font: normal 12px/16px arial;
  color: #333;
  position: absolute;
  bottom: 0;
  right: 50px;
  background: white;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 2px 0px 5px rgba(87, 89, 89, 0.51);
     -moz-box-shadow: 2px 0px 5px rgba(87, 89, 89, 0.51);
          box-shadow: 2px 0px 5px rgba(87, 89, 89, 0.51);
  
  &.collapsed {
    .supportChatBox_header {
      @include bg-gradient($modalHeaderCollapsedBG-from, $modalHeaderCollapsedBG-to);
      border-bottom: none;
      border-color: $modalCollapsedBorderColor;

      > h1, a {
        color: $modalHeaderCollapsedColor !important;
        text-shadow: 0 1px 1px #ffffff;
      }
    }
    .supportChatBox_output, 
    .supportChatBox_control {
      display: none;
    }
  }
  .supportChatBox_header {
    @include bg-gradient($modalHeaderBG-from, $modalHeaderBG-to);
    @include rounded-borders($modalBorderColor);
    border-radius: 5px 5px 0 0;
    color: $modalHeaderColor;
    height: $modalHeaderHeight;
    border: 1px solid $modalBorderColor;
    padding: 0 5px;

    > h1 {
      @include text-cut();
      margin: 0;
      font: bold 12px/30px arial;
      float: left;  
      width: 60%;
      text-shadow: 0 1px 1px #CC9A52;
    }
    .supportChatBox_headerActions {
      font: bold 12px/30px arial;
      float: right;
      text-align: right;
      width: 40%;

      > a {
        color: $modalHeaderColor;
      }
    }
  }
  .supportChatBox_output {
    display: block;
    width: auto;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    font-size: 11px;
    border-left: 1px solid $modalCollapsedBorderColor;
    border-right: 1px solid $modalCollapsedBorderColor;

    > div {
      padding: 5px;
      border-top: 1px solid $modalPostDividerColor;
      overflow: auto;

      &:first-child {
        border: none;
      }
      &.unreceived {
        background: $modalPostBgUnread;
      }
      > span {
        display: block;
        width: 32px;
        height: 32px;
        background: #eee;
        float: left;
        margin: 1px 5px 5px 0;
      }
      > i {
        font-style: normal;
        font-weight: bold;
        
        > small {
          color: #999999;
          font-size: 10px;
          font-weight: normal;
        }        
      }
      > p {
        display: block;
        padding-left: 37px;
        margin: 0;
      }
    }
  }
  .supportChatBox_control {
    @include bg-gradient(#FEFEFE, #EFEFEF);
    padding: 5px;
    border: 1px solid $modalCollapsedBorderColor;
    border-bottom: none;

    textarea {
      border: 1px solid $modalCollapsedBorderColor;
      width: 220px;
      padding: 4px;
      margin-bottom: 5px;
    }
    button {
      @include rounded-borders(red, 1px, 3px);
      @include bg-gradient(#00DD11, #009209);
      border-color: #56a201;   
      text-shadow: 0 -1px 2px #299630;
      color: white;
      cursor: pointer;
      width: 100%;
      font: bold 12px/20px arial;

      &:active, &:hover { 
        background: #14ac1f; 
        color: white; 
      }
    }
    a {
      display: inline-block;
      margin-top: 5px;
      text-decoration: underline;
    }
  }
}

#supportWidgetToggler {
  @include rounded-borders(#FF8500);
  @include bg-gradient(#FB9E25, #FF8500);  
  border-radius: 5px 0 0 5px;
  text-shadow: 1px 1px 0 #cc9f52;
  box-shadow: 1px 1px 2px #fcbf70;
  color: #fff !important;
  font: bold 12px/30px arial;
  text-decoration: none;
  text-align: center;
  position: fixed;
  padding: 0 10px;
  top: 50px;
  right: 0px;
  width: 100px;
  height: 30px;

  &:active, &:hover { 
    background: #FF8500; 
    text-decoration: underline;
  }
}